/* src/components/FloatNavbar.css */

.navbar-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
  }
  
  .toggle-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .navbar {
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  
  .navbar.open {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    padding: 10px 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  